/* Основной контейнер */
html, body {
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
}
.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}

.main-header {
	position: relative;
  	background: url("../img/bghead2.png");
	height: 329px;
	width: 960px;
	padding: 10px;
	margin-left: -10px;
}
.main-header__titles {
	width: 450px;
	float: left;
}

.main-header__settlement-title {
	font-size: 16px;
	font-weight: normal;
	color: rgb(224, 224, 224);
	margin-bottom: 10px;
	margin-top: 0;
}
.main-header__settlement-name {
	font-size: 25px;
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 10px;
}

.main-header__settlement-district {
	color: rgb(224, 224, 224);
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}
.main-header__settlement-subject {
	color: rgb(224, 224, 224);
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}


.main-header__settlement-name a {
	color: rgb(240, 240, 240);
}



.main-header__logo {
	width: 153px;
	height: 192px;
	display: block;
	overflow: hidden;

}
.main-header__logo img {
	display: none;
}

.logo {
	position: absolute;
	top: 46px;
	left: 425px;
}


.main-header__nav-block {
	float: right;
	width: 470px;

}

.main-header__nav-block a {
	float: right;
	color: #f0f0f0;
	padding: 6px 12px;
	font-size: 14px;
}

.main-header__form {
	float: right;
	width: 305px;
	margin-top: 30px;

}

.form {
	text-align: right;
}

.form__input {
	width: 200px;
	padding: 6px 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form__button {
	background-color: #1ca00e;
	border: 1px solid #ccc;
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
}

.address-block {
	clear: both;
	float: right;
	width: 320px;
	margin-top: 30px;
	color: #f0f0f0;
	font-size: 14px;
	text-align: right;
}
.address-block div {
	margin-bottom: 3px;
}

.header-title {
	margin: 0;
  	line-height: 200px;
}
.content {
	margin-top: 30px;
	padding: 15px;
	background-color: #fff;
}
/* Основное меню */
.main-menu {
	position: relative;
	width: 960px;
	margin-top: -50px;
	text-align: center;
}
.main-menu__container {
	position: relative;
	list-style: none;
  	margin: 0;
  	padding: 0;
	text-align: center;
}
.main-menu__container:after {
	content: '';
	display: block;
	clear: both;
}

.main-menu__item {
	display: inline-block;

}

.main-menu__link {
	padding: 15px;
	color: #f0f0f0;
	font-size: 18px;
}

.main-footer {
	width: 960px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 20px 50px 20px;
	background-color: rgb(122, 1, 7);
	clear: both;
}
.footer__titles {
	margin-left: 20px;
	float: left;
}

.footer__titles-title {
	font-size: 12px;
	color: rgb(224, 224, 224);
}
.footer__titles-settlement {
	margin-bottom: 15px;
	margin-top: 5px;
}
.footer__titles-settlement a{
	font-size: 18px;
	color: rgb(240, 240, 240);
}
.footer__titles-address {
	font-size: 12px;
	color: rgb(224, 224, 224);
}
.footer__titles-contacts {
	font-size: 12px;
	color: rgb(224, 224, 224);

}

.footer__logo {
	width: 70px;
	height: 90px;
	float: left;
}
.footer__logo img {
	max-width: 100%;
}
.clear {
	clear: both;
}

.developer-info {
	float: right;
	text-align: right;
}
.developer-info__text {
	margin-top: 40px;
	color: rgb(224, 224, 224);
	font-size: 12px;
}
.developer-info__text a {
	color: rgb(224, 224, 224);
}